/* Контейнер для центрирования */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* По вертикали на всю высоту */
  background-color: #f8fafc; /* Светлый фон для контраста */
}

/* Стиль для кружка */
.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Делаем элемент круглым */
  border: 4px solid #0000; /* Прозрачная граница */
  border-top: 4px solid #25b09b; /* Цвет верхней границы */
  animation: rotate 1s infinite linear; /* Анимация вращения */
}

/* Анимация вращения */
@keyframes rotate {
  100% {
    transform: rotate(360deg); /* Полный оборот */
  }
}
